@page "/ingredients"
@inject IHttpClientFactory ClientFactory
@inject IIngredientService ingredientService
@inject NavigationManager navigationManager
@rendermode InteractiveServer

<PageTitle>Ingredients</PageTitle>

<h3>Ingredients</h3>
<br>
@if (Items == null)
{
    <SkeletonTable />
}
else
{
    <input type="text" id="searchInput" placeholder="Search..." @bind="Search" class="form-control mb-3" @onkeyup="OnEnterPress"/>
    <hr />
    <div class="row g-2">
        <div class="col-auto">
            <Button IsAsync="true" OnClick="@AddToMyIngredientsAsync" ButtonStyle="ButtonStyle.Round" Color="Color.Primary" LoadingIcon="fa-solid fa-spin"> Add to My Ingredients </Button>
            <Button IsAsync="true" OnClick="@DeleteFromMyIngredientsAsync" ButtonStyle="ButtonStyle.Round" Color="Color.Danger" LoadingIcon = "fa-solid fa-spin" > Delete from My Ingredients </Button>
        </div>
    </div>
    <br>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <input type="checkbox" @bind="IsAllChecked" @onclick="SelectAll"/>
                </th> <!-- Empty header for selection buttons -->
                <th style="text-align: center; vertical-align: middle;">Owned</th>
                <th style="text-align: center; vertical-align: middle;">Description</th>
                <th style="text-align: center; vertical-align: middle;">Category</th>
                <th style="text-align: center; vertical-align: middle;">Energy (kcal)</th>
                <th style="text-align: center; vertical-align: middle;">Fat (g)</th>
                <th style="text-align: center; vertical-align: middle;">Of which Saturates (g)</th>
                <th style="text-align: center; vertical-align: middle;">Carbohydrate (g)</th>
                <th style="text-align: center; vertical-align: middle;">Of which Sugars (g)</th>
                <th style="text-align: center; vertical-align: middle;">Protein (g)</th>
                <th style="text-align: center; vertical-align: middle;">Salt (g)</th>
                <th style="text-align: center; vertical-align: middle;">Vitamin C (mg)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredient in Items)
            {
                <tr>
                    <td>
                        <input type="checkbox" @bind="ingredient.Selected"/>
                    </td>
                    <td style="text-align: center; vertical-align: middle;">
                        @if(ingredient.Owned)
                        {
                            <i class="fas fa-check"></i>
                        }
                    </td>
                    <td>@ingredient.Description</td>
                    <td>@ingredient.Category</td>
                    <td style="text-align: center; vertical-align: middle;">@ingredient.EnergyKcal</td>
                    <td style="text-align: center; vertical-align: middle;">@Math.Round(ingredient.FatG, 2)</td>
                    <td style="text-align: center; vertical-align: middle;">@Math.Round(ingredient.SaturatedFatsG, 2)</td>
                    <td style="text-align: center; vertical-align: middle;">@Math.Round(ingredient.CarbG, 2)</td>
                    <td style="text-align: center; vertical-align: middle;">@Math.Round(ingredient.SugarG, 2)</td>
                    <td style="text-align: center; vertical-align: middle;">@Math.Round(ingredient.ProteinG, 2)</td>
                    <td style="text-align: center; vertical-align: middle;">@Math.Round(ingredient.SodiumMg / 1000, 2)</td>
                    <td style="text-align: center; vertical-align: middle;">@Math.Round(ingredient.VitcMg, 2)</td>
                </tr>
            }
        </tbody>
    </table>
    <CustomPagination TotalPages="TotalPages" CurrentPage="CurrentPage" OnPageSelected="@LoadIngredientsAsync"></CustomPagination>
}

@code {
    [NotNull]
    private List<Ingredient>? Items { get; set; } = new List<Ingredient>();
    private List<int>? OwnedItemIds { get; set; } = new List<int>();
    private PagedResponse<IEnumerable<Ingredient>> ResponseIngredients { get; set; }
    private int TotalPages;
    private int PageSize;
    private int CurrentPage;
    private string Search { get; set; } = null!;
    private string PreviousSearch { get; set; } = null!;
    private bool IsAllChecked { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        ResponseIngredients = await ingredientService.GetIngredientsByPage(1, 10, Search);
        await LoadOwnedIngredientsAsync();
        LoadDataFromResponse();
    }

    private async Task LoadIngredientsAsync(int page)
    {
        CurrentPage = page;
        ResponseIngredients = await ingredientService.GetIngredientsByPage(CurrentPage, PageSize, Search);
        LoadDataFromResponse();
    }

    private async Task LoadOwnedIngredientsAsync()
    {
        var response = await ingredientService.GetOwnedIngredients();
        OwnedItemIds = response.Data.Select(x => x.IngredientId).ToList();
    }

    private async Task AddToMyIngredientsAsync()
    {
        var ingredientIds = Items.Where(x => x.Selected).Select(x => x.IngredientId).ToList();
        if(ingredientIds.Count == 0) return;
        OwnedItemIds!.AddRange(ingredientIds);
        await ingredientService.AddIngredientsToUser(ingredientIds);
        Items.ForEach(x => x.Owned = (
            OwnedItemIds!.Any(ingredientId => ingredientId == x.IngredientId)
        ));
    }

    private async Task DeleteFromMyIngredientsAsync()
    {
        
    }

    private async void LoadDataFromResponse()
    {
        if (ResponseIngredients != null && ResponseIngredients.Data != null)
        {
            TotalPages = ResponseIngredients.TotalPages;
            PageSize = ResponseIngredients.PageSize;
            CurrentPage = ResponseIngredients.PageNumber;
            Items = ResponseIngredients.Data.ToList();
            Items.ForEach(x => x.Owned = (
                OwnedItemIds!.Any(ingredientId => ingredientId == x.IngredientId)
                ? true
                : false
            ));
            IsAllChecked = false;
        }
    }

    private void SelectAll()
    {
        IsAllChecked = !IsAllChecked;
        var selectAll = Items.All(x => x.Selected);
        foreach (var ingredient in Items)
        {
            ingredient.Selected = IsAllChecked;
        }
    }

    private async Task OnEnterPress(KeyboardEventArgs e)
    {
        if(e.Key == "Enter")
            if(!string.Equals(Search, PreviousSearch)) 
            {
                ResponseIngredients = await ingredientService.GetIngredientsByPage(1, 10, Search);
                LoadDataFromResponse();
                PreviousSearch = Search;
            }
    }
}